
<div class="boxes-container">
  <div class="box box-1">
    <i class="fas fa-heartbeat"></i>
    <h2>Expert Care</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>

  </div>
  <div class="box box-2">
    <i class="fas fa-clock"></i>
    <h2>Convenient Scheduling</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>

  </div>
  <div class="box box-3">
    <i class="fas fa-users"></i>
    <h2>Personalized Attention</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>

  </div>
</div>


