<div class="ContainerBook">
    <div class="maincontainer">
        <div class="Bookings">
        <h1>Book an appointment</h1>
        <p>book an appointment in 24hrs</p>
        <div class="Contacts">
            <i class="fa fa-phone" style="font-size:15px"></i>
            <p>+27 12 555 0000</p>
            <i class="fa fa-envelope" style="font-size:15px"></i>
            <p>sithembisogmail.co.za</p>
        </div>
            <div class="socials">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>
                <a href="#" class="fa fa-linkedin"></a>
            </div>
        </div>
    </div>
</div>