<div class="ContainerHeading">
    <div class="heading">
        <h1>Why Choose Us</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p>
    </div>
</div>
<div class="ContainerWhychooseus">
 <div class="Whychooseus">
    <i class="fas fa-clock"> PROFESSIONAL</i>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p> 
            <i class="fas fa-clock"> PROFESSIONAL</i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p> 
 </div>
 <div class="whychooseusIMG">
    <img src="/assets/whychooseus.png" alt="" id="chooseusimg">
 </div>
 <div class="Whychooseus">
    <i class="fas fa-clock"> PROFESSIONAL</i>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p> 
            <i class="fas fa-clock"> PROFESSIONAL</i>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet nulla auctor, vestibulum magna sed, convallis ex.</p> 
</div>
</div>
